<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Berk Çağrı Laçin. It uses mapbox and weatherstack as API service.</p>
        <img class="portrait" src="/img/robot.png" alt="">
    </div>
    
    {{>footer}}
</body>
</html>